html {
   font-family: Calibri, sans-serif;
}

.form {
   display: grid;
   grid-auto-columns: 10em min-content;
   
   label {
      grid-column: 1;
   }
   button {
      grid-column: 1 / span 2;
   }
}

.slot {
   --padding: .25em;
   
   border:  1px solid #666;
   margin:  1em 0;
   padding: var(--padding);
   
   &::before {
      --undo-padding: calc(var(--padding) * -0.5);
      
      content: "Savedata slot";
      display:     block;
      font-weight: bold;
      font-size:   2em;
      padding:     .25em;
      margin:      var(--undo-padding);
      margin-bottom: .125em;
      border-bottom: inherit;
      
      background: #666;
      color: #FFF;
   }
   &[data-slot-id]::before {
      content: "Savedata slot " attr(data-slot-id);
   }
}

c-view {
   height: 300px;
   border: 1px solid #888;
   
   font-family: Consolas, Lucida Console, monospace;
   font-size:   .8em;
   
   &::part(header-row) {
      border:      1px solid #CCC;
      background:  #888;
      color:       #FFF;
      font-weight: bold;
   }
   &::part(header-cell) {
      border:  3px solid #FFF;
      padding: .25em;
   }
   &::part(row) {
      color:   #888;
   }
   &::part(cell) {
      padding: .25em;
      border:  1px solid #CCC;
   }
   &::part(name-text) {
      color: #000;
   }
   &::part(value-text) {
      color: #4A6;
   }
   &::part(twisty) {
      width:  .75em;
      height: .75em;
   }
}