*:first-child { margin-top: 0 }
*:last-child { margin-bottom: 0 }

html {
   font-family: Calibri, "Segoe UI", Verdana, sans-serif;
   
   background: #333;
   color: #DDD;
   
   scrollbar-gutter: stable;
}

body {
   max-width: 960px;
   margin:    0 auto;
   padding:   1em;
}

a:link {
   color: #88D8FF;
}
a:visited {
   color: #D060FF;
}

/*
   section numbers
*/
body {
   counter-reset: list-number 0;
   &>section {
      counter-increment: list-number;
   }
   
   --expected-number-size: 6em;
   
   &>section {
      position:     relative;
      padding-left: calc(var(--expected-number-size,0) + 2em);
   }
   &>section::before,
   &>section::after {
      content: var(--list-number-override, counter(list-number));
      
      display:  inline-block;
      position: absolute;
      left:     0;
      top:      calc(0.5rem + var(--padding-top,0em));
      
      width:       1em;
      height:      1em;
      padding:     .25em;
      font-size:   4em;
      line-height: 95%;
      
      font-weight: bold;
      text-align: center;
      
      color: #FF7400;
   }
   &>section::before {
      background: #151515;
      color: #FF7400;
      border-radius: 50%;
      
      -webkit-text-stroke: .18em #ECE7E0;
      paint-order: stroke fill;
   }
   &>section::after {
      color: #FF7400;
      
      -webkit-text-stroke: .1em #221611;
      paint-order: stroke fill;
   }
   
   &>section:not([hidden]) {
      min-height: var(--expected-number-size,0);
   }
   
   /*
      Elements that are display:none can't contribute to counters. Switch 
      that out for content-visibility:hidden.
   */
   &>section[hidden] {
      display: block;
      content-visibility: hidden;
   }
}
#step-download {
   --list-number-override: "\2714";
   &::before,
   &::after {
      line-height: 105%;
   }
}

body>section {
   @media not (prefers-reduced-motion: reduce) {
      transition: opacity 0.15s;
   }
   &[hidden] {
      opacity: 0;
   }
   
   header {
      font-size:     2.25em;
      font-weight:   bold;
      margin-bottom: 1rem;
   }
}
body>section:not([hidden]) ~ section:not([hidden]) {
   --padding-top: 2rem;
   padding-top: var(--padding-top);
   margin-top:  2em;
   border-top:  1px solid #222;
}
body>section:not([hidden]):last-child {
   padding-bottom: 2em;
}

.filepicker {
   display:   flex;
   flex-flow: row nowrap;
   max-width: 20em;
   
   input {
      flex: 1 1 auto;
   }
   button {
      flex: 0 0 auto;
   }
}

.buttons {
   display: flex;
   flex-flow: row nowrap;
   justify-content: start;
   gap: 1em;
   
   :where(&) {
      margin: 1em 0;
   }
}
.buttons button,
#download-link {
   --button-back-base:     #674;
   --button-back-hover:    #796;
   --button-back-disabled: #777;
   
   all:           unset;
   appearance:    none;
   display:       inline-block;
   background:    var(--button-back-base,#666);
   min-width:     2ch;
   padding:       1em 2em;
   color:         #FFF;
   font:          inherit;
   font-weight:   bold;
   text-align:    center;
   border-radius: 5em;
   cursor:        pointer;
   
   -webkit-text-stroke: .2em #000;
   paint-order: stroke fill;
   
   &[disabled] {
      background: var(--button-back-disabled,#777);
      color:      #DDD;
      cursor:     not-allowed;
      -webkit-text-stroke: .2em #444;
   }
   &:not([disabled]) {
      &:hover {
         background: var(--button-back-hover,#777);
      }
      &:active {
         background: #222;
      }
   }
   
   &[data-action='deny'] {
      --button-back-base:  #744;
      --button-back-hover: #966;
   }
}

#loaded-save-info {
   padding:    1em;
   margin:     1em 0;
   background: #222;
   border-radius: 1em;
   
   &>li {
      list-style: none;
   }
   &>li:not(.block-content) {
      display:   flex;
      flex-flow: row nowrap;
      
      dt {
         flex: 0 0 5em;
      }
      dd {
         flex: 1 1 auto;
      }
   }
   &>li[hidden] {
      display: none !important; /* -sigh- */
   }
   
   dt {
      font-weight: bold;
   }
   dd {
      margin: 0;
   }
   
   ul[data-field="player-party"] {
      padding: 0 0 0 1.5em;
      margin:  0;
      
      &.empty {
         list-style: none;
         padding:    0;
      }
   }
   
   li[data-field="player-badges"] ul {
      list-style: none;
      display:    flex;
      flex-flow:  row nowrap;
      gap:        0.5ch;
      padding:    0;
      margin:     0;
      
      li {
         width:       1rem;
         height:      1rem;
         border:      1px solid currentColor;
         line-height: 1rem;
         text-align:  center;
         text-indent: -100vw;
         overflow:    hidden;
         
         border-radius: 4px;
         
         position: relative;
         &::before {
            position:  absolute;
            left:      50%;
            top:       50%;
            transform: translate(-50%, -50%);
            text-indent: 0;
         }
         
         &[data-status="?"]::before {
            content:  "?";
         }
         &[data-status="true"]::before {
            content:  "\2713";
         }
         &[data-status="false"]::before {
            content: "\2717";
            color: #777;
            color: color-mix(in srgb, currentColor 20%, transparent);
         }
      }
   }
}

dialog.error {
   background: #511;
   color: #FFF;
   
   .body {
      white-space: pre-wrap;
   }
   
   .buttons button {
      --button-back-base:  #877;
      --button-back-hover: #A77;
   }
}
dialog {
   border:  0;
   padding: 1em 2em;
   margin:  auto !important;
   
   border-radius: 1em;
   box-shadow:
      0px 3px 5px 3px rgba(0, 0, 0, 0.3), 
      0px 6px 7px 4px rgba(0, 0, 0, 0.15)
   ;
   max-width: 30em;
   
   .buttons {
      justify-content: center;
   }
}
dialog::backdrop {
   --stripe-color:     #00000018;
   --stripe-thickness: 3em;
   
   background:
      repeating-linear-gradient(135deg,
         #00000000           var(--stripe-thickness),
         var(--stripe-color) var(--stripe-thickness),
         var(--stripe-color) calc(var(--stripe-thickness)*2),
         #00000000           calc(var(--stripe-thickness)*2),
         #00000000           calc(var(--stripe-thickness)*3),
         var(--stripe-color) calc(var(--stripe-thickness)*3),
         var(--stripe-color) calc(var(--stripe-thickness)*4),
         #00000000           calc(var(--stripe-thickness)*4),
         #00000000           calc(var(--stripe-thickness)*5),
         var(--stripe-color) calc(var(--stripe-thickness)*5)
      ),
      rgba(0, 0, 0, 0.2)
   ;
}